<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error { color:red; font-style:italic; }
        </style>
    </head>
    
<body>

    <nav>
        <a href="/blog">Main blog page</a>
        <a href="/newpost">Add a Blog Entry</a>
    </nav>
    
    {% block content %}
    <form method='POST'>
        <h1>Build a blog</h1>
    </form>
    {% if blog_posts|length == 0 %}
    <p>No posts yet</p>
    {% else %}
        {% for (k, v) in blog_posts.items() %}
        <h6><a href="">{{k}}</a></h6>
        {{v}}
        {% endfor %}
    {% endif %}   
    {% endblock %}

</body>
</html>