<!doctype html>
<html>
    <h1 style="text-align:justify">Add a Blog Entry</h1>
    
    <body>
        <form style="font-size:13px">
            <label>Title for your new blog:
                <br><input type="text" name="blog_title" /> 
            </label><br>
            <label>Your New Blog:
                <br><textarea type="text" name="new_blog"></textarea>
            </label><br><br>
                <input type="submit" value="Add Entry" />
            
        </form>
    </body>
</html>