{% extends "base.html" %}

{% block content %}
        <style>
            .error{ color:red; font-style:italic; }
        </style>
        <h1 style="text-align: center">Add a Blog Entry</h1>
        <form action="/newpost" method='POST'>
            <label>Title for your New Blog:
                <br><input name="blog_title" type="text" value='{{blog_title}}'/>
            </label>
            <p class="error">{{title_error}}</p>
            <label>Your New Blog
                <br><textarea name="blog_body" type="text" value='{{blog_body}}'></textarea>
            </label>
            <p class="error">{{body_error}}</p>
            <input type="submit" value="Add Entry"/>
        </form>
   
{% endblock %}